@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hero-button {
    @apply px-6 py-2 border border-brownish rounded-full uppercase text-xs tracking-widest text-brownish transition-all hover:border-brownish/40;
  }
}

.vertical {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding-left: 5px;
  padding-right: 9px;
  padding-top: 10px;
  padding-bottom: 10px;
}
